<% layout('layouts/boilerplate') -%>

<h1>All Campgrounds</h1>
<div class="row gx-3">
	<% for (let campground of campgrounds){%>
	<div class="col-md-4 col-lg-3 mb-3">
		<div class="card overflow-hidden">
			<img class="img-fluid" src="<%= campground.image %> " class="card-img-top" alt="...">
			<div class="card-body">
				<!-- <a class="card-title h5 d-block" href="/campground/<%= campground.id %>"><%= campground.title %></a> -->
				<h5><%= campground.title %></h5>
				<small class="text-muted"> <%= campground.location %></small></p>
				<a href="/campgrounds/<%= campground.id %>" class="stretched-link"></a>
			</div>
		</div>
	</div>
	<% }%>
</div>